header
  .menu
    ul
      li.active
        a(href="#WhoAreWe")
          .arrow-down
          |Who Are We
      li
        a(href="#WhatWeDo")
          .arrow-down(style="visibility:hidden")
          |What We Do
      li
        a(href="#Testimonials")
          .arrow-down(style="visibility:hidden")
          |Testimonials
      li
        a(href="#Contact")
          .arrow-down(style="visibility:hidden")
          |Contact Us